<!-- templates/index.html.j2 -->
<!doctype html>
<html>
  <head><meta charset="utf-8"><title>{{ site_title }}</title></head>
  <body>
    <h1>{{ site_title }}</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}</p>
  </body>
</html>
